.artist-home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  cursor: pointer;
}

.artist-home-card p {
  text-align: center;
  max-width: 120px;
}

.artist-img-container {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 1000px;
  overflow: hidden;
}

.artist-img-container.big {
  width: 180px;
  height: 180px;
}

.artist-img-container img {
  border-radius: 1000px;
  object-fit: fill;
  min-width: 100%;
  height: auto;
  object-fit: cover;
}

.artist-home-card .body-1.skeleton {
  height: 22px;
  width: 80px;
  background-color: var(--dark-blue-800);
  border-radius: var(--radius-s);
}

@media (max-width: 1500px) {
  .artist-home-card:last-of-type {
    display: none;
  }
}

@media (max-width: 1400px) {
  .artist-home-card:nth-child(8) {
    display: none;
  }
}
