.my-albums-outer-container {
  padding-bottom: 112px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.my-albums-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, minmax(182px, auto));
  column-gap: 22px;
  row-gap: 22px;
}

@media (max-width: 1500px) {
  .my-albums-container {
    grid-template-columns: repeat(5, minmax(182px, auto));
  }
}
