.song-row-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  /* background-color: var(--dark-blue-800); */
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.song-row-two.playing {
  background-color: var(--dark-blue-600);
  transition: all 0.3s ease-in-out;
}

.song-row-two.hover {
  background-color: var(--dark-blue-800);
  transition: all 0.3s ease-in-out;
}
.srt-left {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 580px;
}

.srt-index {
  text-align: right;
  width: 20px;
}

.srt-replays p {
  text-align: right;
}
