.album-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.album-header {
  display: flex;
  gap: var(--space-m);
  align-items: center;
}

.alh-img-container {
  display: flex;
  width: 220px;
  height: 220px;
}

.alh-img-container img {
  border-radius: var(--radius-s);
}

.alh-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.alh-details {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.dot-separator {
  width: 2px;
  height: 2px;
  border-radius: 100px;
  background-color: var(--grey-400);
}

.album-header .btn-round {
  margin-top: 16px;
}

.album-tracks-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.album-container.skeleton h1.skeleton {
  width: 260px;
}

.album-container.skeleton p.body-1.skeleton {
  width: 180px;
}
