.home-container {
  width: 100%;
}

.banners-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.home-bottom {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding-top: var(--space-m);
}

.home-bottom-right {
  width: 100%;
}

.favorite-artists-outer-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  width: 100%;
  min-width: 960px;
  /* overflow: hidden; */
}

.favorite-artists-container {
  display: flex;
  gap: var(--space-s);
  justify-content: space-between;
}

.recently-played-outer-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.new-releases-outer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.new-releases-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, minmax(182px, auto));
  column-gap: var(--space-m);
  row-gap: var(--space-m);
}

/* Recent Tracks CSS */

.rt-container {
  display: flex;
  gap: var(--space-l);
}

.rt-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, auto));
  row-gap: var(--space-s);
  column-gap: var(--space-l);
}

.song-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sr2-left {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.sr2-img-container {
  width: 50px;
  height: 50px;
  display: flex;
}

.sr2-img-container img {
  border-radius: var(--radius-s);
}

.sr2-info .body-1.skeleton {
  background-color: var(--dark-blue-800);
  height: 22px;
  width: 232px;
  border-radius: var(--radius-s);
}

.sr2-info .body-3.skeleton {
  background-color: var(--dark-blue-800);
  height: 17px;
  width: 180px;
  margin-top: 2px;
  border-radius: var(--radius-s);
}

.sr2-right .body-3.skeleton {
  background-color: var(--dark-blue-800);
  height: 17px;
  width: 32px;
  border-radius: var(--radius-s);
}

h4.skeleton {
  height: 19px;
  width: 180px;
  background-color: var(--dark-blue-800);
  border-radius: var(--radius-s);
}

@media (max-width: 1500px) {
  .new-releases-container {
    grid-template-columns: repeat(5, minmax(182px, auto));
  }
}
