.home-container {
  padding-bottom: 100px;
  width: 100%;
}

.banners-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.home-bottom {
  display: flex;
  gap: 24px;
  padding-top: 24px;
}

.home-bottom-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.home-bottom-right {
  width: 100%;
}

.favorite-artists-outer-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 760px;
  overflow-x: hidden;
}

.favorite-artists-container {
  display: flex;
  gap: 16px;
}

.recently-played-outer-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-releases-outer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.new-releases-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
