.search-results-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.song-results-outer-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
.artist-results-outer-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.artists-results-container {
  display: grid;
  grid-template-columns: repeat(7, minmax(180px, auto));
  row-gap: var(--space-l);
  /* justify-content: space-between; */
}

.artist-result {
  width: 160px;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  justify-content: center;
  align-items: center;
}

.artist-result img {
  border-radius: 1000px;
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.album-results-outer-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.album-results-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, minmax(182px, auto));
  gap: var(--space-m);
}
