.banner-container {
  display: flex;
  background: radial-gradient(
    circle at left,
    var(--dark-blue-800) 0,
    var(--dark-blue-900) 100%
  );

  padding-left: var(--space-m);
  padding-right: var(--space-m);

  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  border-radius: var(--radius-m);
  gap: var(--space-l);
  width: 100%;
  min-width: 500px;
  justify-content: space-between;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  border: 1px solid var(--dark-blue-800);
}

.banner-small.banner-container {
  gap: var(--space-l);
}

.banner-container.hover {
  /* background: rgba(0, 128, 0, 0.6); */
  transition: all 0.4s ease-in-out;
}

.banner-container.hover .btn-primary {
  background-color: var(--light-blue-500);
  transition: all 0.3s ease-in-out;
}

.banner-container.hover img {
  box-shadow: 0 0 20px rgba(211, 210, 218, 0.2);

  transition: all 0.3s ease-in-out;
}

.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-left h1 {
  padding-top: var(--space-l);
}

.banner-left h2 {
  padding-top: var(--space-l);
}

.banner-right {
  width: 200px;
  height: 200px;
  display: flex;
  /* border-radius: 8px; */
}

.banner-right img {
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.banner-container.skeleton {
  background: transparent;
}

.banner-left .body-3.skeleton {
  height: 18px;
  width: 162px;
  background-color: var(--dark-blue-800);
  border-radius: var(--radius-s);
}

.banner-left h2.skeleton {
  height: 44px;
  width: 240px;
  background-color: var(--dark-blue-800);
  margin-top: 28px;
  border-radius: var(--radius-s);
}

.banner-left p.skeleton {
  height: 22px;
  width: 212px;
  background-color: var(--dark-blue-800);
  margin-top: 2px;
  border-radius: var(--radius-s);
}

.banner-left-bottom .btn-primary.skeleton {
  background-color: var(--dark-blue-800);
  content: "";
  height: 38px;
  width: 162px;
}
