.my-artists-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(180px, auto));
  gap: var(--space-m);
  row-gap: var(--space-l);
  margin-top: var(--space-m);
}

.ac2-img-container {
  display: flex;
  width: 100%;
  max-width: 180px;
  max-height: 180px;
  min-width: 180px;
  min-height: 180px;
  height: 100%;
  border-radius: 1000px;
  overflow: hidden;
}

.ac2-img-container img {
  width: 100%;
  border-radius: 1000px;
  object-fit: cover;
  min-width: 100%;
}

@media (max-width: 1500px) {
  .my-artists-container {
    grid-template-columns: repeat(5, minmax(182px, auto));
  }
}
