.playlist-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.playlist-header {
  display: flex;
  gap: var(--space-m);
  align-items: center;
}

.ph-img-container {
  display: flex;
  width: 220px;
  height: 220px;
}

.ph-img-container img {
  border-radius: var(--radius-s);
}

.ph-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.ph-details {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.ph-description {
  margin-top: var(--space-s);
}

.playlist-header .btn-round {
  margin-top: var(--space-xs);
}

.playlist-tracks-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}
