.artist-container {
  padding-bottom: 100px;
}

.artist-header {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 22px;
  position: relative;
  /* background-image: url(); */
}

.header-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -100;
  /* background: url("https://i.scdn.co/image/ab6761610000e5eb437b9e2a82505b3d93ff1022")
    no-repeat; */
  background-size: cover;
  object-fit: cover;
  border-radius: 4px;
}

.background-overlay {
  background-color: rgba(34, 36, 42, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -99;
  backdrop-filter: blur(10px);
  border-radius: 4px;
}

.ah-img-container {
  display: flex;
  width: 200px;
  height: 200px;
}

.ah-img-container img {
  border-radius: 100px;
  min-width: 100%;
  object-fit: cover;
}

.ah-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.artist-content-container {
  padding-top: 22px;
  /* padding-bottom: 122px; */
}

.followers-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 12px;
}

.header-btns {
  display: flex;
  gap: 12px;
}
