.search-container {
  width: 420px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--dark-blue-900);
  border: var(--dark-blue-800) 1px solid;
  border-radius: 4px;
}

.search-container.active {
  border-color: var(--dark-blue-500);
  background-color: var(--dark-blue-800);
}

.search-input {
  width: 100%;
}

.search-input:focus {
  border: none;
  outline: none;
}
/* .searchbar-border {
  padding: 1px;
  background: linear-gradient(
    to right,
    var(--dark-blue-600),
    var(--dark-blue-800)
  );
  border-radius: 12px;
} */
