.discover-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.featured-playlists-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, auto));
  justify-content: space-between;
  column-gap: 16px;
}

.featured-playlist-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  /* padding: 22px; */
  cursor: pointer;
}

.fpc-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 22px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fpc-top .symbol {
  filter: invert(4%) sepia(4%) saturate(7293%) hue-rotate(184deg)
    brightness(91%) contrast(90%);
  width: 50px;
  height: 50px;
}

.fpc-bottom {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.featured-playlist-card h2 {
  color: var(--dark-blue-900);
  line-height: 40px;
}

.featured-playlist-card p {
  color: var(--dark-blue-500);
  opacity: 0.8;
}

.recommended-tracks-outer-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recommended-tracks-container {
  width: 100%;
}

.featured-playlist-card.skeleton {
  background-color: var(--dark-blue-800);
}

.fpc-bg {
  /* position: absolute;
  left: 0;
  right: 0;
  top: 0; */
  z-index: -10;
  /* width: 100%; */
}

.fpc-bg img {
  width: 340px;
  height: auto;
}

@media (max-width: 1400px) {
  .featured-playlists-container {
    grid-template-columns: repeat(3, minmax(220px, auto));
  }
  .featured-playlist-card:last-child {
    display: none;
  }
}
