.player-outer-container {
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  background: linear-gradient(to top, var(--dark-blue-900), transparent);
  z-index: 10000;
  min-width: 1256px;
}
.player-container {
  width: 100%;
  /* height: 90px; */
  display: flex;
  justify-content: space-between;
  background-color: rgba(34, 36, 42, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid var(--dark-blue-800);
  border-radius: 4px;
  /* align-content: center; */
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
}

.song-info {
  /* width: 120px; */
  height: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
}

.song-info-left {
  display: flex;
  flex-direction: column;
  width: 62px;
  height: 62px;
  background-color: var(--dark-blue-800);
  /* border-radius: 2px; */
}

.song-info-left img {
  border-radius: 2px;
}

.song-info-right {
  display: flex;
  flex-direction: column;
  gap: 2px;
  max-width: 260px;
}

.song-info-right p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.img-fit {
  height: 100%;
  max-height: 76px;
}

.player-main-btns {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  position: absolute;
  /* top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
}

.player-main-btns-top {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.play-pause-container {
  border-radius: 100px;
  padding: 8px;
  background-color: var(--dark-blue-600);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.play-pause-container.disabled img {
  opacity: 0.2;
}

.player-main-btns-bottom {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.player-other-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.slider {
  position: relative;
  height: 4px;
}

.slider input {
  position: absolute;
  top: 0px;
  height: 4px;
  z-index: 10;
}

.song-progress-container {
  height: 4px;
}

.song-progress-slider {
  width: 420px;
}

.song-progress-slider input {
  width: 420px;
  appearance: none;
  background: none;
  cursor: pointer;
}

/* customize the ball */
.song-progress-input::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: transparent;
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease-in-out;
}

.song-progress-slider.hover .song-progress-input::-moz-range-thumb {
  background: white;
  transition: all 0.1s ease-in-out;
}

.song-progress-slider.hover progress[value]::-moz-progress-bar {
  background-color: var(--light-blue-500);
}

.song-progress-progress[value] {
  background-color: var(--dark-blue-600);
  border-radius: 100px;
  border: none;
  height: 4px;
  /* width: 100px; */
}

.song-progress-progress {
  position: absolute;
  top: 0;
}

.song-progress-slider progress {
  width: 420px;
  background: var(--dark-blue-600);
  height: 16px;
}

.volume-slider-container {
  height: 4px;
}

.volume-slider {
  width: 100px;
}

.volume-slider.hover progress[value]::-moz-progress-bar {
  background-color: var(--light-blue-500);
}

.volume-input {
  width: 100px;
}

/* customize the ball */
.volume-input::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: none;
  border-radius: 50%;
  border: none;
}

.volume-slider.hover .volume-input::-moz-range-thumb {
  background: white;
  transition: all 0.1s ease-in-out;
}

.volume-progress {
  position: absolute;
  top: 0;
}

/* customize the progress bar */
.volume-progress[value] {
  background-color: var(--dark-blue-600);
  border-radius: 100px;
  border: none;
  height: 4px;
  width: 100px;
}

/* customize progress bar to the left of the ball */
progress[value]::-moz-progress-bar {
  /* background-color: var(--light-blue-500); */
  background-color: var(--grey-100);
}

.play-pause-container img {
  height: 18px;
  width: 18px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  cursor: pointer;
}

.skip-back-container {
  padding-top: 8px;
  cursor: pointer;
}

.skip-back-container.disabled {
  opacity: 0.4;
}

.skip-forward-container {
  cursor: pointer;
  padding-top: 8px;
}

.skip-forward-container.disabled {
  opacity: 0.4;
}

.mute-unmute-container img {
  height: 18px;
  width: 18px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
  cursor: pointer;
}

.mute-unmute-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
