.player-container {
  position: fixed;
  bottom: 0;
  background-color: rgb(217, 217, 217);
  width: 100vw;
  height: 90px;
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.song-info {
  /* width: 120px; */
  height: 100%;
  display: flex;
  gap: 4px;
  align-items: center;
}

.song-info-left {
  display: flex;
  flex-direction: column;
}

.song-info-right {
  display: flex;
  flex-direction: column;
}

.img-fit {
  height: 100%;
  max-height: 76px;
}

.player-main-btns {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.volume-slider {
  padding: 25px;
  display: flex;
  align-items: center;
}

.slider {
  position: relative;
  width: 200px;
  height: 20px;
}

.slider input {
  position: absolute;
  /* left: -6px; */
  top: 0px;
  width: 200px;
  height: 20px;
  -webkit-appearance: none;
  background-color: transparent;
  z-index: 10;
}

.slider progress {
  width: 200px;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 1px black solid;
}
