* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark-blue-900: #12151c;
  --dark-blue-800: #292c31;
  --dark-blue-700: #393c41;
  --dark-blue-600: #363a44;
  --dark-blue-500: #414651;

  --light-blue-100: #e1edee;
  --light-blue-200: #c2e3e6;
  --light-blue-300: #a2d4d8;
  --light-blue-400: #81c4ca;
  --light-blue-500: #99ecf2;

  --grey-100: #ffffff;
  --grey-200: #d3d3d5;
  --grey-300: #a7a8aa;
  --grey-400: #8a8c8f;
}

body {
  background-color: var(--dark-blue-900);
  /* overflow-x: hidden; */
}

#root {
  min-width: 1256px;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../src/assets/GOTHIC.TTF") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("../src/assets/GOTHICB.TTF") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "IDG";
  src: url("../src/assets/IDGrotesk-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

p {
  color: var(--grey-200);
  font-family: "CenturyGothic";
}

a {
  color: var(--grey-200);
  font-family: "CenturyGothic";
  text-decoration: none;
}

h1 {
  color: var(--grey-100);
  text-transform: uppercase;
  font-size: 42px;
  font-family: "IDG";
  /* letter-spacing: 1px; */
}

h2 {
  color: var(--grey-100);
  font-size: 32px;
  text-transform: uppercase;
  font-family: "IDG";
  letter-spacing: 1px;
}

h4 {
  color: var(--grey-300);
  font-family: "CenturyGothic";
  font-weight: 600;
  text-transform: uppercase;
  /* font-size: 1rem; */
  font-size: 16px;

  letter-spacing: 2%;
}

input {
  background-color: transparent;
  color: var(--grey-300);
  font-family: "CenturyGothic";
  font-size: 14px;
  /* padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px; */
  border: none;
}

input:focus {
  border: none;
}

.page-container {
  position: relative;
  display: flex;
  /* min-height: 100vh; */
  /* max-height: 100vh; */
  justify-content: center;
  min-width: 1256px;
  min-height: 700px;
}

.subheader {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--grey-300);
}

.bold {
  font-family: "CenturyGothic";
  font-weight: 800;
}

.other-p {
  color: var(--grey-400);
  font-size: 14px;
}

/* .small- */

.btn-primary {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  font-family: "CenturyGothic";
  font-weight: 800;
  font-size: 14px;
  color: var(--dark-blue-900);
  text-transform: uppercase;
  background-color: var(--light-blue-400);
  border: none;
  border-radius: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 162px;

  transition: all 0.2s ease-in-out;
}

.btn-secondary {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  font-family: "CenturyGothic";
  font-weight: 800;
  font-size: 14px;
  border-radius: 100px;
  background-color: var(--dark-blue-900) 0.7;
  color: var(--grey-100);
  border: 1px var(--grey-100) solid;

  display: flex;
  justify-content: space-between;
  gap: 16px;

  transition: all 0.2s ease-in-out;
}

.btn-round {
  background-color: var(--light-blue-500);
  border-radius: 1000px;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right-container {
  width: 100%;
  padding-right: 38px;
  min-width: 1032px;
  max-width: 1440px;
  margin-left: 224px;
  /* max-height: 100vh;
  overflow-y: scroll;
  overflow-x: scroll; */
}
.content-container {
  width: 100%;
  min-width: 1032px;
}

.bg {
  position: absolute;
  width: 100vw;
  max-width: 1440px;
  min-width: 1032px;

  height: 100vh;
  z-index: -100;
}

.bubble-1 {
  position: absolute;
  right: 120px;
  top: 580px;
  width: 1px;
  height: 1px;
  background: radial-gradient(
    circle at center,
    var(--dark-blue-800) 0,
    var(--dark-blue-900) 100%
  );
  overflow: visible;
  box-shadow: 0 0 150px 30px rgba(150, 155, 163, 0.6);
}

/* .bubble-2 {
  position: absolute;
  left: 120px;
  top: 180px;
  width: 1px;
  height: 1px;
  background: radial-gradient(
    circle at center,
    var(--dark-blue-800) 0,
    var(--dark-blue-900) 100%
  );
  overflow: visible;
  box-shadow: 0 0 120px 30px rgb(150, 155, 163);
} */

.bubble-3 {
  position: absolute;
  left: 500px;
  top: 480px;
  width: 1px;
  height: 1px;
  overflow: visible;
  box-shadow: 0 0 160px 30px rgba(142, 151, 159, 0.4);
}

.bold.skeleton {
  height: 22px;
  min-width: 80px;
  background-color: var(--dark-blue-800);
  border-radius: 2px;
}

p.skeleton {
  height: 22px;
  min-width: 80px;
  background-color: var(--dark-blue-800);
  border-radius: 2px;
}

h1.skeleton {
  height: 48px;
  min-width: 180px;
  background-color: var(--dark-blue-800);
  border-radius: 2px;
}

h2.skeleton {
  height: 44px;
  min-width: 180px;
  background-color: var(--dark-blue-800);
  border-radius: 2px;
}
